.mod {
    filter: contrast(75%);
    filter: drop-shadow(10px 10px 0px #6b7280);
}
.entrance {
    transform: translateY(-1000px);
    animation: entering-up 1500ms ease-in both;
}
.ent-left {
    transform: translateX(-1000px);
    animation: entering-left 1500ms ease-in both;
}
.ent-right {
    transform: translateX(1000px);
    animation: entering-right 1500ms ease-in both;
}
.ent-down {
    transform: translateY(1000px);
    animation: entering-down 1500ms ease-in both;
}
@keyframes entering-up {
    0% {
        transform: translateY(-1000px);
        filter: none;
    }
    95% {
        transform: translateY(0);
        filter: drop-shadow(5px 5px 5px #6b7280);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes entering-left {
    from {
        transform: translateX(-1000px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes entering-right {
    from {
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes entering-down {
    from {
        transform: translateY(1000px);
    }
    to {
        transform: translateY(0);
    }
}
/* RESPONSIVE NAVBAR TRANSITION */
.fade {
    transition: ease-in-out 100ms;
    transform: scaleY(0);
    transform-origin: top;
}

.fade.out {
    transform: scale3d(1, 1, 1);
}
/* COAT TEXT */
.coated {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
/* FOR THE LITTLE MUG */
#tilter {
    position: fixed;
    right: 10px;
    bottom: 10px;
}
